@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-image: url(https://cdn.pixabay.com/photo/2020/05/04/11/04/pokeball-5128709_960_720.jpg);
  background-position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.navbar-container {
  background-color: red;
  padding: 1rem;
  width: 100% auto;
  border-bottom-left-radius: 2rem;
  color: #f9fafb;
  font-family: "Reggae One", cursive;
  font-size: 18px;
}
input {
  padding: 1rem;
  font-size: 16px;
  border-radius: 0.2rem solid #e68282;
  margin: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 45%;
  height: 45%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: rgb(236, 232, 232);
  font-family: "Reggae One", cursive;
  font-size: 14px;
  justify-content: left;
}
.container img {
  width: 80%;
  height: 90%;
  cursor: pointer;
  -webkit-filter: contrast(2.25);
  filter: contrast(2.25);
}
.container img:hover {
  transform: scale(1.05);
}
